* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* imagen para el cuerpo de todas las paginas */
    background-color: antiquewhite;
    background-size: cover;
}

#logo {
    /* Logo de inicio que se repite en todas las paginas*/
    text-align: left;
    font-family: 'Dancing Script';
    font-size: 50px;
    background-image: url(../images/logo3.jpg);
    background-size: 1400px;
    height: 350px;
    padding: 30px 50px;
    margin: 10px 10px 5px 10px;
    border-style: outset;
    border-radius: 10px;
    border-color: #e18234;
    text-decoration: underline #e18234;
    text-shadow: 2x 2px 2px 2px black;
}

#logo h2 {
    font-size: 50px;
    margin: 50px auto 20px auto;
    text-shadow: 2x 2px 2px 2px black;
}

.animate__animated.animate__fadeIn {
    --animate-duration: 4s;
    --animate-delay: 1s;
}

.animate__animated.animate__zoomIn {
    --animate-duration: 2s;
    --animate-delay: 3s;
}

/*INICIO DEL MENU DE NAVEGACION*/
nav .navbar {
    position: sticky;
    top: 0;
}

.navbar-nav .nav-item {
    font-family: "lora";
    font-size: 1.5em;
    margin: 0px 35px;
    border-width: 2px;
    border-style: inherit;
    border-color: #e18234;
    border-radius: 3px;
    padding: 0px 10px;
}

.navbar-nav .nav-item:hover {
    background-color: #efc394;
}

.h1,
h1 {
    font-size: 2em;
}

hr:not([size]) {
    height: 5px;
}

hr {
    margin: 0px;
    color: #e79755;
}

/*BIENVENIDA TITULO Y PARRAFO*/
.bienvenida .bienvenidaTitulo {

    font-family: 'Dancing Script';
    font-size: 2em;
    background-color: #efc394;
    margin: 0 auto;
    margin-top: 10px;
    padding: 20px 5px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 1px 1px 1px gray;
    width: 70%;
    margin-top: 20px;
}

.bienvenida .bienvenidaParrafo {

    font-family: 'lora';
    font-style: italic;
    font-size: 1.5em;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
}

/*fin de mensaje bienvenida*/
/*INICIO DE SECCION CON PREGUNTAS Y BLOQUES DE PARRAFO*/
.mensajeinicial h2 {

    font-family: 'Dancing Script';
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    border-style: double;
    border-color: #e18234;
    border-width: 5px;
    border-radius: 5px;
    margin: 0 auto;
    width: 90%;
    padding: 10px;
}

.mensajeinicial .parrafo {

    font-family: 'lora';
    padding: 30px 15px 40px 15px;
    line-height: 1.5;
    text-align: justify;
    font-size: 1.2em;
    width: 90%;
    margin: 0 auto;
}

/*fin preguntas con bloques de parrafo*/
/*inicio contenedor tribu con boton que redirige a pagina Encontrarte*/
.buscartribu {
    font-family: 'lora';
    font-style: italic;
    font-size: 20px;
    text-align: center;
    border-style: outset;
    border-color: #e18234;
    border-radius: 10px;
    border-width: 4px;
    background-image: url(../images/tribu.jpg);
    background-size: contain;
    height: 200px;
    margin: 0 auto;
    box-shadow: 2px 2px 2px 2px gray;
    width: 80%;
}

.buscartribu h3 {
    color: brown;
    border-style: none;
    background-color: #e7b54a;
    background-image: url(../images/textura.png);
    padding: 5px;
    border-radius: 8px;
}

.buscartribu .linktribu {

    background-color: #e7b54a;
    margin: 0 auto;
    padding: 5px;
    background-position: center;
    border-style: outset;
    border-radius: 5px;
    border-color: #e18234;
    font-weight: bold;
    font-size: 20px;
    width: 50%;
    margin-top: 90px;
}

.buscartribu .linktribu a {
    text-decoration: none;
    color: black;
}

.buscartribu .linktribu:hover {
    background-color: #efc394;
}

/*fin contenedor tribu*/


footer {
    font-family: 'lora';
    margin: 15px 25px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.contenedor {
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr;
    gap: 5px;
}

.contenedor header {
    grid-column: 1/3;
    grid-row: 1/2;
}

.contenedor section .bienvenida {
    grid-column: 1/3;
    grid-row: 2/3;
}

.contenedor section .mensajeinicial {
    grid-column: span 1;
    grid-row-start: 3;
    grid-row-end: 4;
}

.contenedor .buscartribu {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.contenedor aside {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-start: 3;
}

.contenedor .asides {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: 0 auto;
    margin-right: 20px;
}

/*.contenedor .asides:hover {
transform: scale(1.1,1.02);
}*/

.contenedor .asides h2 {
    font-size: 1.5em;
    background-color: #efc394;
    border-radius: 3px;
    padding: 2px;
    box-shadow: 1px 1px 1px 1px gray;
}

.contenedor .asides .fecha {
    font-size: 1.1em;
    text-align: center;
    padding: 10px;
    text-decoration: underline;
}

.contenedor .asides p {
    margin: 10px;
    text-align: justify;
}

.contenedor .encuentros {
    font-family: 'lora';
    font-size: 1em;
    background-image: url(../images/textura.png);
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    height: 620px;
    margin-top: 20px;
    text-align: center;
    border-color: #e79755;
    margin-right: 15px;
    padding: 5px;
    -webkit-box-shadow: 10px 10px 10px 0px rgba(115, 113, 115, 0.71);
    -moz-box-shadow: 10px 10px 10px 0px rgba(115, 113, 115, 0.71);
    box-shadow: 10px 10px 10px 0px rgba(115, 113, 115, 0.71);

}

.contenedor .encuentros:hover {
    transform: scale(1.1, 1.02);
}

.contenedor .encuentros iframe {
    border-radius: 3px;
    margin: 0 auto;
    margin-top: 10px;

}

.contenedor .encuentros a {
    text-decoration: none;
    font-size: 1.2em;
    border-style: double;
    border-radius: 3px;
    border-color: #e18234;
    border-width: 2px;
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    color: black;
    box-shadow: 1px 1px 1px 1px gray;
}

.contenedor .encuentros a:hover {
    background-color: #efc394;
}

.contenedor .entrevistapsi {
    font-family: 'lora';
    font-size: 1em;
    background-image: url(../images/textura.png);
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    height: 400px;
    box-shadow: 2px 2px 2px 2px gray;
    text-align: center;
    border-color: #e79755;
    margin-right: 15px;
    padding: 5px;
    -webkit-box-shadow: 10px 10px 10px 0px rgba(115, 113, 115, 0.71);
    -moz-box-shadow: 10px 10px 10px 0px rgba(115, 113, 115, 0.71);
    box-shadow: 10px 10px 10px 0px rgba(115, 113, 115, 0.71);
}

.contenedor .entrevistapsi:hover {
    transform: scale(1.1, 1.03);
}

.contenedor .discord {
    font-family: 'lora';
    font-size: 1em;
    background-image: url(../images/textura.png);
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    height: 400px;
    box-shadow: 2px 2px 2px 2px gray;
    text-align: center;
    border-color: #e79755;
    margin-right: 15px;
    padding: 5px;
    -webkit-box-shadow: 10px 10px 10px 0px rgba(115, 113, 115, 0.71);
    -moz-box-shadow: 10px 10px 10px 0px rgba(115, 113, 115, 0.71);
    box-shadow: 10px 10px 10px 0px rgba(115, 113, 115, 0.71);
}

.contenedor .discord:hover {
    transform: scale(1.1, 1.03);
}

/*comienzo de css APARTADO SANARTE*/

.entrevista h2 {
    font-family: 'Dancing Script';
    padding: 20px 5px;
    font-size: 2em;
    background-color: #efc394;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px 5px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 1px 1px 1px gray;
    width: 70%;
}

.entrevista p {
    font-family: 'lora';
    font-size: 20px;
    font-style: italic;
    text-align: justify;
    margin: 0 auto;
    padding-top: 20px;
    width: 85%;
    margin-bottom: 40px;
    margin-top: 20px;
}

.entrevistaFormulario {
    font-family: 'lora';
    font-size: 20px;
    font-style: italic;
    background-image: url(../images/textura.png);
    border-color: #e79755;
    border-width: 5px;
    border-style: outset;
    border-radius: 5px;
    padding: 25px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 40px;
    -webkit-box-shadow: 10px 10px 10px 0px rgba(115, 113, 115, 0.71);
    -moz-box-shadow: 10px 10px 10px 0px rgba(115, 113, 115, 0.71);
    box-shadow: 10px 10px 10px 0px rgba(115, 113, 115, 0.71);
}

.entrevistaFormularioNombre input {
    height: 40px;
    width: 100%;
}

.entrevistaFormularioEmail input {
    height: 40px;
    width: 100%;
}

.entrevistaFormularioBotones input {
    padding: 15px;
    margin-top: 25px;
    border-radius: 5px;
    border-style: outset;
    border-width: 4px;
    border-color: #e79755;
    font-family: 'lora';
    font-weight: bolder;
    font-size: 17px;

}

/*fin de APARTADO SANARTE*/

/*comienzo del APARTADO INFORMARTE*/

.contmultim h2 {
    font-family: 'Dancing Script';
    padding: 20px 5px;
    font-size: 2em;
    background-color: #efc394;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px 5px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 1px 1px 1px gray;
    width: 70%;
}

.contmultim .contmultimtexto {
    font-family: 'lora';
    padding: 30px 15px 40px 15px;
    line-height: 1.5;
    text-align: justify;
    font-size: 18px;
}

.pregcontenido h2 {
    font-family: 'Dancing Script';
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    border-style: double;
    border-color: #e18234;
    border-width: 5px;
    border-radius: 5px;
    margin: 0 auto;
    width: 90%;
    padding: 10px;
}

.pregcontenido .contmultimresp p {
    font-family: 'lora';
    padding: 30px 15px 40px 15px;
    line-height: 1.5;
    text-align: justify;
    font-size: 18px;
}

.catalogovideos .videossubtitulo h2 {
    /*comienzo de listados de videos*/
    font-family: 'Dancing Script';
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    border-style: double;
    border-color: #e18234;
    border-width: 5px;
    border-radius: 5px;
    margin: 0 auto;
    width: 90%;
    padding: 10px;
    margin-top: 30 px;
}

.listavideos {
    /*lista youtube - videos maternidad*/
    font-family: 'lora';
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1px;
    align-items: center
}

.listavideos h3 {
    font-size: 22px;
    font-weight: bolder;
    margin-bottom: 10px;
    margin-top: 10px;
    text-decoration: underline;
    text-align: center;
}

.listavideos p {
    font-family: 'lora';
    padding: 0px 15px 10px 15px;
    line-height: 1.5;
    text-align: justify;
    font-size: 18px;
}

.listavideos div {
    width: 450px;
    height: 470px;
    border-width: 5px;
    border-color: #e18234;
    border-radius: 3px;
    padding: 5px;
    margin: 15px;
    border-style: outset;
    background-image: url(../images/textura.png);
}

.listavideos iframe {
    width: 400px;
    height: 300px;
    padding: 5px;
}

.contenidoparaniños h2 {
    /*comienzo apartado para niños*/
    font-family: 'Dancing Script';
    font-size: 30px;
    font-weight: bold;
    border-style: double;
    border-color: #e18234;
    border-width: 5px;
    border-radius: 5px;
    text-align: center;
    margin: 60px 10px 60px 10px;
    text-decoration: underline;
    background-color: rgb(231, 181, 74);
}

.contenidoparaniños p {
    font-family: 'lora';
    padding: 0px 15px 10px 15px;
    line-height: 1.5;
    text-align: justify;
    font-size: 18px;
    margin-bottom: 60px;
}

.contenidoparaniños .musicaniños {
    background-color: #e79755;
    width: 400px;
    border-radius: 3px;
    border-color: #e18234;
    border-width: 2px;
    border-style: solid;
    box-shadow: 1.5px 1.5px 1.5px 1.5px gray;
    margin: 0 auto;
}

.contenidoparaniños .musicaniños h2 {
    /*comienzo lista spotify*/
    margin-top: 10px;
}

.contenidoparaniños .musicaniños div {
    display: flex;
    margin: 20px;
    padding: 20px;
    justify-content: space-around;
}

.linksexternos .linksexternosniños h2 {
    /*comienzo paginas web*/
    font-family: 'Dancing Script';
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    border-style: double;
    border-color: #e18234;
    border-width: 5px;
    border-radius: 5px;
    background-color: rgb(231, 181, 74);
    margin: 60px 10px 60px 10px;
}

.linksexternos .linksexternosniños div {
    display: inline-block;
    margin: 20px;
    margin-bottom: 30px;
    background-image: url(../images/textura.png);
    width: 500px;
    height: 270px;
    padding: 10px;
    border-radius: 3px;
    border-color: #e79755;
    border-width: 1px;
    border-style: outset;
    box-shadow: 1px 1px 1px 1px gray;
}

.linksexternos .linksexternosniños div a {
    background-color: #e79755;
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-family: 'lora';
    border-width: 2px;
    border-style: outset;
    border-color: #e18234;
    border-radius: 2px;
    box-shadow: 2px 2px 2px 2px gray;
    padding: 4px;
    width: 250px;
}

.linksexternos .linksexternosniños a:hover {
    text-shadow: 1px 1px 1px black;
}

.linksexternos .linksexternosniños div img {
    width: 250px;
    height: 200px;
    border-radius: 3px;
}

.linksexternos .linksexternosniños div p {
    font-size: 18px;
    font-family: 'lora';
    display: flex;
    float: right;
    width: 200px;
}

/*comienzo css APARTADO CONECTARTE*/

.listatribus .listatribustitulo h2 {
    font-family: 'Dancing Script';
    padding: 20px 5px;
    font-size: 2em;
    background-color: #efc394;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px 5px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 1px 1px 1px gray;
    width: 70%;
}

.listatribus .listatribustitulo h3 {
    font-family: 'lora';
    font-style: italic;
    padding: 30px 15px 40px 15px;
    line-height: 1.5;
    text-align: center;
    font-size: 18px;
}

.listatribus .listatribusapartado {
    font-family: 'lora';
    padding: 30px 15px 40px 15px;
    line-height: 1.5;
    text-align: justify;
    font-size: 18px;
}

.listatribus .listatribusimportante {
    font-family: 'lora';
    padding: 10px 15px 40px 15px;
    line-height: 1.5;
    text-align: justify;
    font-size: 16px;
    font-style: italic;
}

/*FIN DEL APARTADO CONECTARTE*/

/*COMIENZO APARTADO EMPODERARTE*/

.bolsadetrabajo h2 {
    font-family: 'Dancing Script';
    font-size: 2em;
    background-color: #efc394;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px 5px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 1px 1px 1px gray;
    width: 70%;
}

.bolsadetrabajo .bolsaparrafo {
    font-family: 'lora';
    padding: 30px 15px 40px 15px;
    line-height: 1.5;
    text-align: justify;
    font-size: 18px;
}

.pregempoderarte h2 {
    font-family: 'Dancing Script';
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    border-style: double;
    border-color: #e18234;
    border-width: 5px;
    border-radius: 5px;
    margin: 0 auto;
    width: 90%;
    padding: 10px;
}

.respempoderarte p {
    font-family: 'lora';
    padding: 30px 15px 40px 15px;
    line-height: 1.5;
    text-align: justify;
    font-size: 18px;
}

/*FIN DEL APARTADO EMPODERARTE*/

/*MEDIA QUERIES MOBILE*/

@media (min-width: 320px) and (max-width: 767px) {

    /*MOBILEindex*/
    #logo {
        text-align: left;
        font-family: 'Dancing Script';
        font-size: 20px;
        background-image: url(../images/logo3.jpg);
        background-size: 100%;
        height: 100px;
        padding: 3px 5px;
        margin: 5px 5px 5px 5px;
        border-style: outset;
        border-radius: 10px;
        border-color: #e18234;
        text-decoration: underline #e18234;
        text-shadow: 2x 2px 2px 2px black;
    }

    #logo h2 {
        font-size: 25px;
        margin: 5px 2px 2px 2px;
        text-shadow: 2x 2px 2px 2px black;
    }

    .contenedor {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr;
        gap: 5px;
    }

    .contenedor header {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .contenedor section .bienvenida {
        grid-column: 1/2;
        grid-row: 2/4;
    }

    .contenedor section .bienvenidaTitulo {
        grid-column: 1/2;
        grid-row: 2/4;
    }

    .contenedor section .mensajeinicial {
        grid-column: 1/2;
        grid-row: 2/4;
    }

    .contenedor .buscartribu {
        grid-column: 1/2;
        grid-row: 4/5;

    }

    .bienvenida .bienvenidaTitulo {
        /*inicio mensaje de bienvenida*/
        font-size: 2em;
        width: 95%;
        margin: 0 auto;
        padding: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .bienvenida .bienvenidaParrafo {
        /*fin de mensaje bienvenida*/
        font-size: 1.2em;
        text-align: center;
        padding: 5px;
        margin: 0 auto;
        margin-top: 10px;
    }

    .mensajeinicial h2 {
        /* inicio las dos preguntas y los dos bloques de parrafo que comparten iguales propiedades */
        font-size: 1.5em;
        font-weight: bolder;
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }

    .mensajeinicial .parrafo {
        /*fin preguntas con bloques de parrafo*/
        line-height: 1.5;
        text-align: justify;
        font-size: 1em;
        margin: 0 auto;
        width: 90%;
    }

    .contenedor .asides {
        margin: 0 auto;
        width: 70%;
    }

    .contenedor .encuentros {
        font-size: 1em;
        height: 100%;
        width: 100%;
    }

    .contenedor .entrevistapsi {
        font-size: 1em;
        height: 100%;
        width: 100%;
    }

    .contenedor .discord {
        font-size: 1em;
        height: 100%;
        width: 100%;
    }

    .buscartribu {
        /* inicio cajita con foto de tribu y boton que redirige a pagina Encontrarte del sitio */
        font-size: 1em;
        height: 100%;
        background-size: cover;
        margin-top: 30px;

    }

    .buscartribu .linktribu {
        /*fin cajita para buscar tribu*/
        margin: 0 auto;
        width: 60%;
        padding: 5px;
        font-size: 1em;
    }

    footer {
        font-family: 'lora';
        margin: 15px 25px;
        font-size: 12px;
        font-weight: bold;
        text-align: center;

    }

    .bolsadetrabajo .bolsatitulo h2 {
        font-size: 1.5em;
        width: 95%;
        margin: 0 auto;
        padding: 10px;
        margin-top: 20px;
    }
    .pregempoderarte h2 {
        font-size: 1.5em;
    }
    .contmultim h2 {
        font-size: 1.5em;
        width: 95%;
        margin: 0 auto;
        padding: 10px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .pregcontenido h2 {
        font-size: 1.5em;
    }
    .entrevista h2 {
        font-size: 1.5em;
        width: 95%;
        margin: 0 auto;
        padding: 10px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
}