@import "vars";
@import "header";
@mixin h2 {
    font-family: $fuentetitulos;
    font-size: 30px;
    text-align: center;
}

body {
    background-color: antiquewhite cover;

    .bolsadetrabajo {
        & h2 {
            @include h2;
            background-color: #e79755;
            margin: 40px 200px 20px 200px;
            padding: 20px 5px;
            border-radius: 10px;
        }

        & .bolsaparrafo {
            font-family: $fuentegeneral;
            padding: 30px 15px 40px 15px;
            line-height: 1.5;
            text-align: justify;
            font-size: 18px;
        }
    }

    & .pregempoderarte {
        & h2 {
            @include h2;
            font-weight: bolder;
            border-style: double;
            border-color: #e18234;
            border-width: 5px;
            border-radius: 5px;
            background-color: rgb(231, 181, 74);

        }

        & .respempoderarte {
            & p {
                @extend .bolsaparrafo;
            }
        }
    }

    footer {
        font-family: $fuentegeneral;
        margin: 15px 25px;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
    }

}

$fuente: (titulos: 'Dancing Script',
    general: 'lora',
);

@each $nombre,
$valor in $fuente {
    .bolsadetrabajo-#{$nombre}{
        font: $valor;
    }
}

